.list-group {
    max-width: 19rem;
}
.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .contents h2 {
      padding-right: 3rem;
  }

  .contents li a {
    display: block;
}
.contents a, .contents li {
    color: black;
    text-decoration: none;
}

.contents a:hover,  .contents li:hover a, .contents li:hover{
    background: #7E7A7C;
    color: white;
}