.recipe-card {
    h1 {
        margin: 4rem 0;
    }
    img {
        max-width: 19rem;
        margin-right: 4rem;
    }
    .recipe-instructions {
        margin-top: 4rem;
        max-width: 40rem;
    }
}