.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../../assets/recipebookcover.webp);
    background-size:  cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    height: 100%;
    .title {
        background-color:  #F8F9FD;
        padding: 3rem;
     }
     h1 {
        font-family: Tahoma, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 3rem;
    }
    a {
        font-size: 2.5rem;
        line-height: 3rem;
        color: black;
        &:hover {
            color: #61B329;
            text-decoration: none;
        }
    }
}
